<p>THE LIST OF LISTS</p>

<button (click)="getDocumentList()">Get Document List</button>
<p>
</p>
<br/>
<br/>

<form [formGroup]="documentListForm" (ngSubmit)="upload()">
  <ng-container formArrayName="documents">
    <ng-container *ngFor="let documentForm of documents.controls; let i = index">
      <div class="lesson-form-row" [formGroup]="documentForm">
        <input type="checkbox" [checked]="true" formControlName="include" placeholder="true">
        <input formControlName="name" placeholder="document name" readonly>
      </div>
    </ng-container>
  </ng-container>
  <button type="submit" *ngIf="readyForDownload">Begin upload</button>
</form>
