<h1>Log in</h1>
<div id="input-container" *ngIf="true">
  <div>
    <input placeholder="Source client ID" (input) = "_sourceOAuthClientId = getValue($event)">
    <input placeholder="Source client secret" type = "password" (input) = "_sourceOAuthClientSecret = getValue($event)">
    <input placeholder="Source Sign account email" (input) = "_sourceLoginEmail = getValue($event)">

    <label for="source-compliance-level">Source compliance level</label>
    <select name="sourceComplianceLevel" id="source-compliance-level" (change) = "_sourceComplianceLevel = getValue($event)">
      <option value = "commercial">Commercial</option>
      <option value = "fedramp">FedRamp</option>
    </select>

    <select name="shard" id="shard" (change) = "shard = getValue($event)" *ngIf="sourceComplianceLevel === 'commercial'">
      <option value = "na1">na1</option>
      <option value = "na2">na2</option>
      <option value = "na3">na3</option>
      <option value = "na4">na4</option>
    </select>
  </div>

  <div>
    <input placeholder="Destination client ID" (input) = "_destOAuthClientId=getValue($event)">
    <input placeholder="Destination client secret" type = "password" (input) = "_destOAuthClientSecret=getValue($event)">
    <input placeholder="Destination Sign account email" (input) = "_destLoginEmail = getValue($event)">
  
    <label for="dest-compliance-level">Dest compliance level</label>
    <select name="destComplianceLevel" id="dest-compliance-level" (change) = "_destComplianceLevel = getValue($event)">
      <option value = "commercial">Commercial</option>
      <option value = "fedramp">FedRamp</option>
    </select>

    <select name="shard" id="shard" (change) = "shard = getValue($event)" *ngIf="destComplianceLevel === 'commercial'">
      <option value = "na1">na1</option>
      <option value = "na2">na2</option>
      <option value = "na3">na3</option>
      <option value = "na4">na4</option>
    </select>
  </div>

  <button type="button" (click) = "sourceLogin()" id="source-login-button">Log in (source account)</button>
  <button type="button" (click) = "destLogin()" id="dest-login-button">Log in (destination account)</button>
</div>
