.flex-container {
	display: flex;
	flex-direction: row;
}

#document-list-container {
	overflow: auto;
	height: 75vh;
	margin-right: 10px;
	flex-direction: row;
}

.document-row {
	display: flex; /* Should inherit display: flex but doesn't. */
	flex-direction: row;
	width: 100%;
}

#console {
	height: 65vh;
	overflow: auto;
	border:3px solid black;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	background: black;
}

.console-message {
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 0px 0px 0px;
	color: white;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 20px;
}